<p id="notice"><%= notice %></p>

<p>
  <strong>Producto:</strong>
  <%= @list.producto %>
</p>

<p>
  <strong>Costo:</strong>
  <%= @list.costo %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @list.cantidad %>
</p>
<p>
  <strong>Id:</strong>
  <%= @list.ventum_id %>
</p>


<%= link_to 'Back', lists_path %>
