<p id="notice"><%= notice %></p>

<h1>Listing Venta</h1>

<table>
  <thead>
    <tr>
      <th>Cod</th>
      <th>Cost</th>
      <th>Cliente</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @venta.each do |ventum| %>
      <tr>
        <td><%= ventum.cod %></td>
        <td><%= ventum.cost %> BS.</td>
        <td><%= ventum.client.name %></td>
        <td><%= link_to 'Show', ventum %></td>
        <td><%= link_to 'Edit', edit_ventum_path(ventum) %></td>
        <td><%= link_to 'Destroy', ventum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ventum', new_ventum_path %>
<br>
<%= link_to 'Clientes', clients_path %>
<br>
<%= link_to 'Almacen', almacens_path %>
