<p id="notice"><%= notice %></p>

<p>
  <strong>Cod:</strong>
  <%= @ventum.cod %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @ventum.cost %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @ventum.client.name %>
</p>

<%= link_to 'Edit', edit_ventum_path(@ventum) %> |
<%= link_to 'Back', venta_path %>
