<%= form_for(@almacen) do |f| %>
  <% if @almacen.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@almacen.errors.count, "error") %> prohibited this almacen from being saved:</h2>

      <ul>
      <% @almacen.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cod %><br>
    <%= f.text_field :cod %>
  </div>
  <div class="field">
    <%= f.label :nom %><br>
    <%= f.text_field :nom %>
  </div>
  <div class="field">
    <%= f.label :costo %><br>
    <%= f.number_field :costo %>
  </div>
  <div class="field">
    <%= f.label :cantidad %><br>
    <%= f.number_field :cantidad %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
