<p id="notice"><%= notice %></p>

<h1>Listing Almacens</h1>

<table>
  <thead>
    <tr>
      <th>Cod</th>
      <th>Nom</th>
      <th>Costo</th>
      <th>Cantidad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @almacens.each do |almacen| %>
      <tr>
        <td><%= almacen.cod %></td>
        <td><%= almacen.nom %></td>
        <td><%= almacen.costo %></td>
        <td><%= almacen.cantidad %></td>
        <td><%= link_to 'Show', almacen %></td>
        <td><%= link_to 'Edit', edit_almacen_path(almacen) %></td>
        <td><%= link_to 'Destroy', almacen, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo producto', new_almacen_path %>
<br>
<%= link_to 'Nueva venta por menor', new_ventum_path %>
<br>
<%= link_to 'Clientes', clients_path %>
<br>
<%= link_to 'Almacen', almacens_path %>